/* You can add global styles to this file, and also import other style files */
article{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    border:2px solid black;
    margin-bottom:10px;
}
@media(min-width:800px){
    section{            flex-direction:row;
    }
}